*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(../assets/Background.png);
    background-position: left center;
    background-repeat: repeat-x;
    animation: parallaxEffect 20s linear infinite;
}
/*------------------PARALLAX----------------------------------------------*/
@keyframes parallaxEffect {
    0% {
      background-position: 0 0; /* Posição inicial do plano de fundo */
    }
    100% {
      background-position: 100% 0; /* Posição final do plano de fundo (completa a largura da div) */
    }
  }
/* --------------GAME NAME---------------------------------------------------*/

.game-name-{
    width: 750px;
    margin: auto;
    padding: 10px;
    font-size: 38px;
    display: flex;
    flex-direction: column;

}
.biblia{
    width: 80px;
    height: auto;
    margin-right: auto;
}

.M{
    flex-direction: row;
    color: rgb(138, 0, 0);
    -webkit-text-stroke: 2px rgb(248, 124, 124);
    text-align: left;
}
.e{
    color:white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-align: center;
}
.C{
    color: rgb(203, 255, 58);
    -webkit-text-stroke: 2px rgb(255, 251, 1);
    text-align: right;
}
.faca{
    width: 80px;
    margin-left: auto;
}
.canibais{
    display: flex;
    margin-left: auto;
}
.centered-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Defina a largura, altura e estilos adicionais conforme necessário */
}
/* --------------FORM NUMBER MISSIONARIES AND CANNIBALS---------------------------------------------------*/
.form {
    color:white;
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding: 5px 10px;
    height: 50px;
    width: 520PX;
    background:rgb(59, 72, 77);
    border-radius: 5px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.formbg {
    margin: 0px auto;
    width: 60%;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

input{
    height: 18px;
}


/* -----------------BUTTONS--------------------------------------------------*/
.controls{
    padding-top: 20px;
    gap: 20px;
    align-items: center;
    display:flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}


.button {
    width: 100%;
    background-color: rgb(91, 124, 134); 
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(255, 251, 1); /* Green */
    color: white;
  }

/* ----------------BOXBOARD------------------------*/

.rodape{
    backdrop-filter: blur(5px);
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: yellow;
    font-size: 16px;
    display:flex;
    flex-direction: column;
}