*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(../assets/backgame.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

game-loop{
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

canvas{
  min-height: 100vh;
}

a {
  color: white;
  font-size: 24px;
}